<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style1.css">
    <title>About Us</title>
</head>
<body style=" background-image: url('../static/readme_imgs/aboutusbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size:cover;">
    <div class="main">
        <nav>
            <img src="../static/readme_imgs/logo.jpg" class="logo" width="500" height="190" style="margin-left: 50px;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/test">Test</a></li>
                <li><a href="/aboutus">About Us</a></li>
                
            </ul>
        </nav>
        <div class="dept">
            <p>Dept. of Artificial Intelligence</p>
        </div>
        
        
    </div>

    <div class="one">
        <div class="one-1">
            <h1>Sathvik Jasti</h1>
            <h2>19911A3523</h2>
            <div class="image">
                <img src="../static/readme_imgs/sat1.png" class="P1" width="340" height="340">
            </div>
            <p>4th Year AI 
                <br>Worked on FrontEnd, CNN and Mobilenet</p>
        </div>
            
        <div class="one-1">
                <h1>SaiRam Ramavath</h1>
                <h2>19911A3542</h2>
                <div class="image">
                    <img src="../static/readme_imgs/sai1.png" class="P1" width="340" height="340">
                </div>
                <p>4th Year AI 
                    <br>Worked on BackEnd, VGG and Resnet</p>
        </div>
    </div>
</body>
</html>