<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonkeyPox Classificaton</title>
    <link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="../static/readme_imgs/logo.jpg" class="logo" width="500" height="190">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/test">Test</a></li>
                <li><a href="/aboutus">About Us</a></li>
            </ul>
        </nav>
        <div class="dept">
            <p>Dept. of Artificial Intelligence</p>
        </div>

        <div class="detel">
            <h1>MONKEYPOX  <span>Classification</span></h1>
            <p>A 4th year Mini Project
            </p>
        </div>
        <div class="images">
            <img src="../static/readme_imgs/mkybg.png" class="shape" width="1800" height="2700">
            <img src="../static/readme_imgs/mky.png" class="monkey">
        </div>

        <div class="home-data">
            <div class="home-image1">
                <img src="../static/readme_imgs/mp_home1.png" alt="" srcset="" class="center-image">
                <br>
                <img src="../static/readme_imgs/mp_home2.png" alt="" srcset="" class="center-image">
            </div>
        </div>


    </div>
    
</body>
</html>